html * {
    margin: 0px;
    font-family: 'Lato';
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');

.cabecalho {
    background-image: url(img/montanha.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

#menu {
    padding: 20px 0px 40px 0px;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 13px;
    color: black;
}

#menu a:hover {
    color: orange;
}


#perfil img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.banner {
    margin-top: 20px;
}

.banner hr {
    width: 50%;
}

h1 {
    font-size: 80px;
    padding: 30px;
}

h2 {
    margin: 20px;
    font-size: 20px;
}

h3 {
    padding: 30px;
}

.media {
    padding: 30px;
}

img {
    padding: 10px;
}

.sobre {
    height: 200px;
    background-color: #2B2B2B;
    padding: 30px;
    color: white;
}

.sobre h3 {
    padding: 20px 0px;
}

.sobre p {
    padding: 20px 0px;
}

.experiencias {
    height: 1000px;
    background-color: #F2F2F2;
}

.portfolio {
    height: 800px;
    background-color: #2B2B2B;

}

.rodape {
    height: 400px;
    background-color: #0F0F0F;
    color: white;
}