html * {
    margin: 0px;
    font-family: 'Lato';
    text-align: center;
    line-height: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,900&display=swap');

.cabecalho {
    background-image: url(img/montanha.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
}

#menu {
    padding: 20px 0px 40px 0px;
}

#menu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 13px;
    color: black;
}

#menu a:hover {
    color: orange;
}

#perfil {
    display: flex;
    justify-content: center;
}

#perfil img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.banner {
    margin-top: 20px;
}

.banner hr {
    width: 50%;
}

h1 {
    font-size: 80px;
    padding: 30px;
}

h2 {
    margin: 20px;
    font-size: 20px;
}

.media {
    padding: 30px;
}

img {
    padding: 10px;
}

.sobre {
    background-color: #2B2B2B;
    padding: 30px;
    color: white;
    padding: 100px;
}

.data {
    width: 350px;
    font-size: 20px;
    padding: 10px;
}

.data h4 {
    font-size: 16px;
    border-bottom: 1px solid gray;
}

.sobre p {
    padding: 20px 0px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 30px;
    gap: 20px;
}

.experiencias {
    display: grid;
    justify-content: center;
    line-height: 30px;
}

.experiencias-item {
    max-width: 1200px;
    display: flex;
    margin: 50px;
    align-items: center;
    height: 150px;
}

.experiencias p {
    padding: 30px;
    margin: 30px;
}

.grid {
    display: grid;
    justify-content: center;
}

.grid-item {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.portfolio {
    background-color: #2B2B2B;
    padding: 30px;
    color: white;
}


.rodape {
    padding: 30px;
    background-color: #0F0F0F;
    color: white;
}
